.App {
  display: inline-flex;
  background-image: url("tile.png");
  background-size: 64px;
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  color: white;
  font-family: 'Marcellus SC', serif;
}

.flip-card {
  font-family: 'Cinzel Decorative', cursive;
  margin: 5px;
  float: left;
  background-color: transparent;
  width: 50px;
  height: 70px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.2s;
  transform-style: preserve-3d;

}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: transparent;
  color: #de003d;
}

/* Style the back side */
.flip-card-back {
  background-size: 50px;
  color: #2b251f;
  transform: rotateY(180deg);
}

img {
  width: 50px;
}

h1 {
  margin-top: 14px;
  font-size: 2em;
}

.cardRow {
  width: 380px;
  padding: 20px;
  clear: left;
}

.column {
  display: block;
  width: fit-content;
  margin: auto;
}

.content {
  position: relative;
  display: block;
  width: 550px;
  height: 300px;
  margin: auto;
  text-align: center;
  font-family: 'Crimson Text', serif;
  font-size: 1.7em;
  background-color: #d1cdcf;
  color: #2b251f;
  padding: 30px;
  box-shadow: 0px 0px 19px 6px rgba(0,0,0,0.5);
}

.NavBar {
  width: 100%;
  height: 5%;
  display: inline-flex;
  text-align: center;
}

p {
  padding: 20px;
  margin-top: 15px;
  height: 50%;
}

.links {
  width: 100%;
  display: inline-flex;
  text-align: center;
}

.link {
  width: 40px;
}

a {
  margin: auto;
}

button {
  width: 100%;
  height: 30px;
  margin: auto;
  background: transparent;
  border: none;
  font-family: 'Marcellus SC', serif;
  font-size: 12pt;
  border-left: solid darkgray 1px;
}

button:hover {
  text-decoration: underline solid #2b251f;
}

button:first-child {
  border-left: hidden;
}

button:focus {
  outline: none;
}
